<div class="cal-lesson-card__row cal-lesson-card__row--top">
  <p class="cal-lesson-card__title">
    <span
      class="cal-lesson-card__student-dot"
      [style.background]="studentColor()"
      aria-hidden="true"
    ></span>
    <span class="cal-lesson-card__student-name">{{ studentName() }}</span>
  </p>
  @if (regionText()) {
    <span class="cal-lesson-card__region">{{ regionText() }}</span>
  }
</div>
<div class="cal-lesson-card__row cal-lesson-card__row--bottom">
  <span class="cal-lesson-card__time">{{ timeText() }}</span>
  @if (rateText()) {
    <span class="cal-lesson-card__rate">{{ rateText() }}</span>
  }
</div>
