<div class="cal-lesson-card__row cal-lesson-card__row--name">
  <p class="cal-lesson-card__title">
    <span
      class="cal-lesson-card__student-dot"
      [style.background]="studentColor()"
      aria-hidden="true"
    ></span>
    <span class="cal-lesson-card__student-name">{{ studentName() }}</span>
  </p>
</div>
@if (timeText()) {
  <div class="cal-lesson-card__row cal-lesson-card__row--time">
    <span class="cal-lesson-card__time">{{ timeText() }}</span>
  </div>
}
@if (showSubject()) {
  <div class="cal-lesson-card__row cal-lesson-card__row--subject">
    <span
      class="cal-lesson-card__subject"
      [class.cal-lesson-card__subject--tinted]="!!subjectColorCss()"
    >{{ subjectText() }}</span>
  </div>
}
@if (rateText()) {
  <div class="cal-lesson-card__row cal-lesson-card__row--rate">
    <span class="cal-lesson-card__rate">{{ rateText() }}</span>
  </div>
}
