@if (showNavbar()) {
  <div class="app-shell">
    <app-navbar />
    <div class="app-content">
      <div class="app-page-host">
        <router-outlet />
      </div>
    </div>
  </div>
} @else {
  <div class="app-public-host">
    @if (landingRouteLoading()) {
      <div class="app-public-skel">
        <app-landing-skeleton />
      </div>
    }
    <router-outlet />
  </div>
}

<app-dialog
  [open]="!!unlinkAlert.alert()"
  size="sm"
  [title]="unlinkDialogTitle()"
  [dismissLabel]="unlinkDialogOk()"
  (cancel)="unlinkAlert.dismiss()"
>
  <p>{{ unlinkDialogMessage() }}</p>
</app-dialog>

<app-cookie-consent-banner />
